@using BusesControl.Models.Enums
@model Contrato
<div class="col-md-12 input-group form-group form-it">
    <table class="listClientes">
        <tbody class="body-clientes">
            @foreach (var item in Model.ClientesContratos) {
                @if (!string.IsNullOrEmpty(item.PessoaFisicaId.ToString())) {
                    <tr>
                        <td>@item.PessoaFisica.Name.ToUpper()</td>
                        <td>CPF: @item.PessoaFisica.ReturnCpfCliente()</td>
                        <td>
                            <a class="link-orange" asp-route-id="@item.ContratoId" asp-route-clienteFisicoId="@item.PessoaFisicaId" asp-action="PdfContrato">
                                <i class="fa fa-download"></i> <br>
                                Contrato
                            </a>
                        </td>
                        <td>
                            <a class="link-orange" asp-route-id="@item.Id" asp-action="PdfRescisao">
                                <i class="fa fa-download"></i>
                                Rescisão
                            </a>
                        </td>
                    </tr>
                }
                else if (!string.IsNullOrEmpty(item.PessoaJuridicaId.ToString())) {
                    <tr>
                        <td>@item.PessoaJuridica.RazaoSocial.ToUpper()</td>
                        <td>CNPJ: @item.PessoaJuridica.ReturnCnpjCliente()</td>
                        <td>
                            <a class="link-orange" asp-route-id="@item.ContratoId" asp-route-clienteJuridicoId="@item.PessoaJuridicaId" asp-action="PdfContrato">
                                <i class="fa fa-download"></i> <br>
                                Contrato
                            </a>
                        <td>
                            <a class="link-orange" asp-route-id="@item.Id" asp-action="PdfRescisao">
                                <i class="fa fa-download"></i>
                                Rescisão
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>