@model Funcionario
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                @if (Model.Cargos == CargoFuncionario.Administrador) {
                    <li class="nav-item linha">
                        <a class="nav-link linkMenu" asp-area="" asp-controller="Relatorio" asp-action="Index">Relatórios</a>
                    </li>
                    <li class="nav-item linha">
                        <a class="nav-link linkMenu" asp-area="" asp-controller="Financeiro" asp-action="Index">Financeiro</a>
                    </li>
                    <li class="nav-item linha">
                        <a class="nav-link linkMenu" asp-area="" asp-controller="AprovarContrato" asp-action="Index">Aprovar contratos</a>
                    </li>
                    <li class="nav-item linha">
                        <a class="nav-link linkMenu" style="color: transparent; opacity: 0;">#</a>
                    </li>
                    <li class="nav-item linha">
                        <a class="nav-link linkMenu upercase" data-toggle="modal" data-target="#janelaModalPerfil" href="#"><i class="fa fa-user-tie" style="margin-right: 3px;"></i>  @Model.Name</a>
                    </li>
                }
                else {
                    <li class="nav-item linha">
                        <a class="nav-link linkMenu upercase" data-toggle="modal" data-target="#janelaModalPerfil" href="#"><i class="fa fa-user-tie" style="margin-right: 3px;"></i>  @Model.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<div id="janelaModalPerfil" class="modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Cargos == CargoFuncionario.Administrador) {
                    <h5 class="modal-title font">
                        <i class="fa fa-user-tie"></i> Perfil administrador
                    </h5>
                }
                else {
                    <h5 class="modal-title font">
                        <i class="fa fa-user-tie"></i> Perfil assistente
                    </h5>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-min">
                    <b>Nome:</b> @Model.Name. <br>
                    <b>Email:</b> @Model.Email. <br>
                    <b>Data de nascimento:</b> @Html.DisplayFor(model => model.DataNascimento).
                </p>
            </div>
            <div class="modal-footer foote">
                <button id="enviar" class="btn btn-senha">Alterar senha</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>